export(bivrec,unirec,Surv2,id)
import(MASS,survival)
useDynLib(blupsurv)
S3method(print,bivrec)
S3method(plot,bivrec)
S3method(summary,bivrec)
S3method(print,summary.bivrec)
S3method(bivrec,data.frame)
S3method(bivrec,formula)
S3method(print,unirec)
S3method(plot,unirec)
S3method(summary,unirec)
S3method(print,summary.unirec)
S3method(unirec,data.frame)
S3method(unirec,formula)